
body {
	overflow: visible;
}

.standalone-control-example {
	margin-bottom: 2em;
}

label.setting {
	display: block;
}

fieldset.control {
	border: solid 1px #ccc;
	padding: 1em;
	margin-bottom: 1em;
}
fieldset.control.invalid {
	border-color: red;
}

textarea.setting {
	font-family: monospace;
}

textarea.setting.json-parse-error {
	border: solid 1px red;
	outline: solid 1px red;
	box-shadow: red;
}
.customize-control-notifications-container {
	margin-bottom: 3px;
}
#media-control.standalone-control-example {
	width: 300px;
}
.customize-control-address input[type=text],
.customize-control-address select,
.customize-control-address textarea {
	display: block;
	width: 30ex;
	min-width: auto;
}
fieldset.control input.invalid,
fieldset.control select.invalid,
fieldset.control textarea.invalid {
	border: solid 1px red;
}